# data files
data/
*.csv
NGS2-Cycle1-Experiment1/*.csv
NGS2-Cycle1-Experiment1/data/
NGS2-Cycle1-Experiment2/*.csv
NGS2-Cycle1-Experiment2/data/
NGS2-Cycle1-Experiment2/documentation/
*.log
misc/nfiles

# python bytecode files
*.pyc

# cache files
.cache

# zip files
*.zip

# shell scripts
*.sh

# intermediate check files
misc/id_*.py
