# data files
data/
*.csv
pilot/
cycle1/
misc/
*.json
*.html
*bayes*
*diag*

# python bytecode files
*.pyc

# intermediate check files
misc/id_*.py

# configuration files
*.cfg
cookies.txt

# virtualenv
ngs2/
